name: Smoke Test Context
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  showContext:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: View context in summary
        uses: streetsidesoftware/actions/public/summary@v1
        with:
          text: |
            Context:
            `````json
            ${{ toJson(github) }}
            `````
      - name: View context attributes
        uses: actions/github-script@v7
        with:
          script: |
            console.log(context);
            console.log('%o', context);
            console.log(JSON.stringify(context, null, 2));
