name: "test-action"
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

env:
  FETCH_DEPTH: 100

jobs:
  test-action: # run the action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./
        id: cspell-action
        env:
          TEST: true

  test-action-with-file: # run the action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: ${{ env.FETCH_DEPTH }}
      - uses: ./
        id: cspell-action
        env:
          TEST: true
        with:
          files: |
            **/*.ts
            **/*.md
      - name: Show Results
        uses: streetsidesoftware/actions/public/summary@v1
        with:
          text: |
            outputs:
            ``````json
            ${{ toJSON(steps.cspell-action.outputs) }}
            ``````

  test-action-no-increment: # run the action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: ${{ env.FETCH_DEPTH }}
      - uses: ./
        id: cspell-action
        env:
          TEST: true
        with:
          incremental_files_only: false
          files: |
            .
      - name: Show Results
        uses: streetsidesoftware/actions/public/summary@v1
        with:
          text: |
            outputs:
            ``````json
            ${{ toJSON(steps.cspell-action.outputs) }}
            ``````

  test-action-no-increment-verbose: # run the action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: ${{ env.FETCH_DEPTH }}
      - uses: ./
        id: cspell-action
        with:
          incremental_files_only: false
          files: |
            **
            .*/**
          verbose: true
      - name: Show Results
        uses: streetsidesoftware/actions/public/summary@v1
        with:
          text: |
            outputs:
            ``````json
            ${{ toJSON(steps.cspell-action.outputs) }}
            ``````

  test-action-files-with-issues: # run the action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: ${{ env.FETCH_DEPTH }}
      - uses: ./
        id: cspell-action
        with:
          incremental_files_only: false
          files: |
            fixtures/**
          config: ./fixtures/cspell.json
          strict: false
          inline: none
      - name: Show Results
        uses: streetsidesoftware/actions/public/summary@v1
        with:
          text: |
            outputs:
            ``````json
            ${{ toJSON(steps.cspell-action.outputs) }}
            ``````
