name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  action-is-pristine: # make sure nothing changes in the action.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: streetsidesoftware/actions/public/setup-node-pnpm@v1
        with:
          node-version: 24.x

      - run: pnpm i
      - run: git --no-pager diff --compact-summary --exit-code

  clean-build: # make sure nothing changes with a clean build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: streetsidesoftware/actions/public/setup-node-pnpm@v1
        with:
          node-version: 24.x

      - run: pnpm i

      # Ensure the repository is clean after build
      - run: pnpm clean-build

      # test TypeScript build
      - run: |
          cd action-src
          pnpm build:tsc

      - run: git --no-pager diff --compact-summary --exit-code

  coverage: # run coverage and unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: streetsidesoftware/actions/public/setup-node-pnpm@v1
        with:
          node-version: 24.x
      - run: pnpm i

      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: GITHUB_OUTPUT="" pnpm coverage

      - name: Upload coverage Coveralls
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # 2.3.7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./action-src/coverage/lcov.info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: './action-src'
          files: ./coverage/lcov.info
